.footer-container {
    background-color: #dc3545; 
    color: #fff; 
    padding: 20px 0; 
    font-size: 18px;
  }
  
  .footer-icon {
    font-size: 24px;
    margin-right: 5px; 
  }
  
  .footer-link {
    color: #fff; 
    text-decoration: none; 
  }
  
  .footer-link:hover {
    text-decoration: underline; 
  }
  